.active{
    @apply bg-third;
}

.wallpaper{
    background: linear-gradient(
                rgba(229, 191, 137, 0.294), 
                rgba(229, 192, 137, 0.294)), url(assets/login_img.jpg);
    background-position: center;
    background-size: cover;
}

.card{
    background-image: linear-gradient(56deg, #4158D0E6 0%, #C850C0E6 46%, #FFCC70E6 100%);
}