.active{
    @apply bg-third;
}

.wallpaper{
    background: linear-gradient(
                rgba(229, 191, 137, 0.294), 
                rgba(229, 192, 137, 0.294)), url(assets/login_img.jpg);
    background-position: center;
    background-size: cover;
}